@model Nhom6_QLHoSoTuyenDung.Models.ViTriTuyenDung

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ViTriTuyenDung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaViTri" />
            <div class="form-group">
                <label asp-for="TenViTri" class="control-label"></label>
                <input asp-for="TenViTri" class="form-control" />
                <span asp-validation-for="TenViTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongCanTuyen" class="control-label"></label>
                <input asp-for="SoLuongCanTuyen" class="form-control" />
                <span asp-validation-for="SoLuongCanTuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhongBanId" class="control-label"></label>
                <select asp-for="PhongBanId" class="form-control" asp-items="ViewBag.PhongBanId"></select>
                <span asp-validation-for="PhongBanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KyNang" class="control-label"></label>
                <input asp-for="KyNang" class="form-control" />
                <span asp-validation-for="KyNang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
