@model Nhom6_QLHoSoTuyenDung.Models.UngVien
@using Microsoft.AspNetCore.Mvc.Rendering

<form asp-action="Create" asp-controller="UngViens" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-2">
        <label asp-for="HoTen"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="NgaySinh"></label>
        <input asp-for="NgaySinh" type="date" class="form-control" />
        <span asp-validation-for="NgaySinh" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="GioiTinh"></label>
        <select asp-for="GioiTinh" class="form-control">
            <option value="">-- Chọn --</option>
            <option>Nam</option>
            <option>Nữ</option>
            <option>Khac</option>
        </select>
        <span asp-validation-for="GioiTinh" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="SoDienThoai"></label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="ViTriUngTuyenId"></label>
        <select asp-for="ViTriUngTuyenId" class="form-control" asp-items="ViewBag.ViTriList"></select>
        <span asp-validation-for="ViTriUngTuyenId" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="KinhNghiem"></label>
        <textarea asp-for="KinhNghiem" class="form-control"></textarea>
    </div>

    <div class="form-group mb-2">
        <label asp-for="ThanhTich"></label>
        <textarea asp-for="ThanhTich" class="form-control"></textarea>
    </div>

    <div class="form-group mb-2">
        <label asp-for="MoTa"></label>
        <textarea asp-for="MoTa" class="form-control"></textarea>
    </div>

    <div class="form-group mb-2">
        <label asp-for="NguonUngTuyen"></label>
        <input asp-for="NguonUngTuyen" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label>Upload CV</label>
        <input type="file" name="fileCV" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
    <button type="button" class="btn btn-secondary" onclick="toggleForm()">Hủy</button>
</form>
